
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Aural Pleasure (CS109 Final Project)</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="../static/css/carousel.css" rel="stylesheet">

    <!---for novus-->
    <link href="../novus/src/nv.d3.css" rel="stylesheet" type="text/css">


    <style>
      .node {
        stroke: #fff;
        stroke-width:1.5px;
      }

      .link {
        stroke: #999;
        stroke-opacity: .6;
      }
    </style>
  </head>
<!-- NAVBAR
================================================== -->
  <body>

    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">The Truth Behind Aural Pleasure</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#inherent">Inherent</a></li>
                <li><a href="#artist">Artist</a></li>
                <li><a href="#user">User</a></li>
                <li><a href="#impact">Impact</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <!-- <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="First slide"> -->
          <img src="../static/resources/miley.jpg" style="height:125%;">
          <div class="container">
            <div class="carousel-caption">
              <h1>What makes Miley Cyrus more popular than someone who is actually talented?</h1>
              <p>How much of the popularity of music is determined by the press around the artist and from the inherent characteristics of the music?</p>
              <br><br><br>
              <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p> -->
            </div>
          </div>
        </div>
        <div class="item">
          <!-- <img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Second slide" alt="Second slide"> -->
          <img src="../static/resources/mumford.jpg" style="height:125%;">
          <div class="container">
            <div class="carousel-caption">
              <h1>How do I classify this Mumford and Sons song? </h1>
              <p>Are they no longer considered folk music now that they are too popular to be hipster?</p>
              <br><br><br><br><br>
            <!--   <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p> -->
            </div>
          </div>
        </div>
        <div class="item">
          <!-- <img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" alt="Third slide"> -->
          <img src="../static/resources/genre.jpg" style="height:125%;">
          <div class="container">
            <div class="carousel-caption">
              <h1>Are genres a figment of our imagination, culture, or psychology?</h1>
              <p>Or can we analytically separate genres based on the inherent wave properties of sound <i>de novo</i>?</p>
              <br><br><br><br><br>
              <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p> -->
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->


    <div class="container" id="about">
      <h3> As both creators and listeners of music, we are intrigued by the factors that contribute to the appeal of music. </h3>
      <p> This complex amalgamation of sounds provides a platform on which we can exercise a variety of the data science techniques we have learned this past semester. Music analysis is convenient because of the availability of a rich dataset, in two respects: the overwhelming amount of data that is available for each song (in terms of inherent and external characteristics, described in more detail later) and the existence of a vast number of songs. </p>
      <h2>Our project proposes to study this mass corpus of aural pleasure--to find truth within this universal language of Music.</h2>
    </div>

    <hr class="featurette-divider" id="artist">


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Inherent Characteristics</h2>
          <p>Since music is blah we decided that we wanted to investigate blahblah</p>
          <p><a class="btn btn-default" href="#inherent" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Artist Interactions</h2>
          <p>Since music is blah we decided that we wanted to investigate blahblah</p>
          <p><a class="btn btn-default" href="#artist" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>User Preferences</h2>
          <p>Since music is blah we decided that we wanted to investigate blahblah</p>
          <p><a class="btn btn-default" href="#user" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider" id="inherent">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5" >
           <div id="test10" style="height: 500px;">
            Lots of series
            <svg></svg>
          </div>
        </div>
      </div>

      <hr class="featurette-divider" id="artist">

      <div class="row featurette">
        <div class="col-md-5" id="artist-d3" >
          <!-- <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image"> -->
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>

      <hr class="featurette-divider" id="user">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

      <div class="container" id="impact">
        <h1>Impact</h1>
        <p>This project can have many benefits. It can help artists and producers in the music industry produce songs that are more likely to be in the top 40 category, thus increasing revenue. This project can enhance current methods of categorizing and classifying songs, thus making music management/organization software more effective. And finally, it can help individuals find songs that will appeal to their tastes or moods, enhancing their listening experience like never before.</p>
      </div>

      <hr class="featurette-divider">

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 RL JC JM</p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/holder.js"></script>

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript">
      
      var width = 1000,
          height = 1000;

      var color = d3.scale.category20();

      var force = d3.layout.force()
          .charge(-200)
          .linkDistance(30)
          .size([width, height]);

      var svg = d3.select("#artist-d3").append("svg")
          .attr("width", width)
          .attr("height", height);

      // var colors = ['#3366FF', '#6633FF', '#C3F', '#F3C', '#3CF', '#003DF5', '#002EB8', '#F36', '#3FC', '#B88A00', '#F5B800', '#F63', '#3F6', '#6F3', '#CF3', '#FC3', '#FF3', '#3FC'];

      var colors = ['#9CF', '#FC9', '#FC9', '#99F', '#C9F', '#F9F', '#9FF', '#5CADFF', '#1F8FFF', '#F9C', '#9FC', '#F8F1F', '#FFAD5C', '#F99', '#9F9', '#CF9', '#FF9', '#FC9', '#FC9']

      d3.xml("../static/resources/artist_graph_withinfo.gexf", "application/xml", function(gexf) {
      // d3.xml("../static/resources/playlists_artist_graph.gexf", "application/xml", function(gexf) {
        // d3.xml("../static/resources/artist_")

        // console.log('gexf');
        // console.log(gexf.documentElement.getElementsByTagName('node'));

        var xml_nodes = gexf.documentElement.getElementsByTagName('node');

        console.log(xml_nodes);
        var node_names = new Array();
        var nodes = new Array();

        for (n = 0; n< xml_nodes.length; n++) {
        // for (n in xml_nodes) {
          // console.log(n);
          // console.log('stop');
        // for (n =0; n < 10; n++) {
          // console.log(xml_nodes[node].id);
          node = xml_nodes[n];
          // console.log(node);
          // if (n != 210)
          attrs = node.getElementsByTagName('attvalue')
          // else
            // attrs = ['no-genre', 0, 0, 0]
          // console.log(attrs[0].getAttribute('value'))
          nodes.push({
            name: node.id,
            genre: attrs[0].getAttribute('value'),
            pagerank: attrs[1].getAttribute('value'),
            modularity: attrs[2].getAttribute('value'),
            score: attrs[3].getAttribute('value')
          });

          node_names.push(node.id);
        }

        console.log(nodes);

        var links = new Array();

        var xml_links = gexf.documentElement.getElementsByTagName('edge');

        console.log(xml_links);

        // for (l in xml_links) {
        for (l=0; l < xml_links.length-1; l++) {
          link = xml_links[l];
          // console.log(link);
          // console.log(link.id, link.getAttribute('source'), link.target, link.weight)
          var source_name = link.getAttribute('source');
          var target_name = link.getAttribute('target');
          // console.log(source_name, target_name)
          links.push({
            source: node_names.indexOf(source_name),
            target: node_names.indexOf(target_name),
            value: link.getAttribute('weight')
            // value: 1
          })
        }

        console.log('links', links);

        console.log('-----');
        for (node in nodes) {
          if (nodes[node] == undefined) {
            console.log('derp' + node);
          }
        }

        for (link in links) {
          if (links[link] == undefined) {
            console.log('herp' + link);
          }
        }
        console.log('-----');

        var link = svg.selectAll('.link')
          .data(links)
          .enter()
          .append('line')
          .attr('class', 'link')
          .style("stroke-width", function(d) { return Math.sqrt(d.value); });

        console.log('link', link);

        var node = svg.selectAll('.node')
          .data(nodes)
          .enter().append("circle")
          .attr("class", "node")
          .attr("r", 5)
          // .style("fill", function(d) { return color(d.group); })
          .style('fill', function(d) { 
            console.log(d.modularity)
            return colors[d.modularity]; 
          })
          .call(force.drag);

        node.append("title")
          .text(function(d) { return d.name; });

        node.attr("cx", function(d) { return d.x; })
          .attr("cy", function(d) { return d.y; });

        console.log('node', node);

        force
          .nodes(nodes)
          .links(links)
          // .on("tick", tick)
          .start();

        console.log('force');

        force.on("tick", function() {
          link.attr("x1", function(d) { return d.source.x; })
              .attr("y1", function(d) { return d.source.y; })
              .attr("x2", function(d) { return d.target.x; })
              .attr("y2", function(d) { return d.target.y; });

          node.attr("cx", function(d) { return d.x; })
              .attr("cy", function(d) { return d.y; });
        });

      });

      // d3.json("../static/resources/miserables.json", function(error, graph) {
      //   console.log("json");
      //   console.log(graph.nodes);
      //   console.log(graph.links)

      //   for (node in graph.nodes) {
      //     console.log(graph.nodes[node].index)
        // }
        // force
        //     .nodes(graph.nodes)
        //     .links(graph.links)
        //     .start();

        // var link = svg.selectAll(".link")
        //     .data(graph.links)
        //   .enter().append("line")
        //     .attr("class", "link")
        //     .style("stroke-width", function(d) { return Math.sqrt(d.value); });

        // var node = svg.selectAll(".node")
        //     .data(graph.nodes)
        //   .enter().append("circle")
        //     .attr("class", "node")
        //     .attr("r", 5)
        //     .style("fill", function(d) { return color(d.group); })
        //     .call(force.drag);

        // node.append("title")
        //     .text(function(d) { return d.name; });

        // force.on("tick", function() {
        //   link.attr("x1", function(d) { return d.source.x; })
        //       .attr("y1", function(d) { return d.source.y; })
        //       .attr("x2", function(d) { return d.target.x; })
        //       .attr("y2", function(d) { return d.target.y; });

        //   node.attr("cx", function(d) { return d.x; })
        //       .attr("cy", function(d) { return d.y; });
        // });
      // });

    </script>

  </body>
</html>
