
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Aural Pleasure (CS109 Final Project)</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="../static/css/carousel.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/tipsy.css" type="text/css" />

    <!---for novus-->
    <link href="../static/novus/src/nv.d3.css" rel="stylesheet" type="text/css">

    <link rel="shortcut icon" href="../static/resources/favicon.ico?v=2" type="image/x-icon">
    <link rel="icon" href="../static/resources/favicon.ico?v=2" type="image/x-icon">

    <style>

      * {
        font-family: 'Helvetica Neue';
        font-weight: 200;
      }
      .node circle {
        stroke: #fff;
        stroke-width:1px;
      }
      .link {
        stroke: #999;
        stroke-opacity: .6;
      }
      text {
        pointer-events: none;
        font: 10px sans-serif;
        /*background-color: white;*/
/*        z-index:10000000000;
        position:absolute;*/
      }

      .featurette-heading{
        margin-top: 50px;
      }

      div.explain{
        background-color: rgb(66,66,66);
        display: none;
        color: white;
      }

      div.explain button a {
        color:black;
      }

      div.explain .col-lg-4 .inside{
        height:300px;
        overflow:scroll;
      }

      .navbar-wrapper .navbar {
          border-radius: 0px;
        }
      .carousel{
        margin-bottom: 0px;
      }
      div#about{
        padding-top: 60px;
      }


    </style>
  </head>
<!-- NAVBAR
================================================== -->
  <body data-spy="scroll" data-target=".navbar-collapse">

    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">The Truth Behind Aural Pleasure</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#about">About</a></li>
                <li><a href="#inherent">Inherent</a></li>
                <li><a href="#artist">Artist</a></li>
                <li><a href="#user">User</a></li>
                <li><a href="#impact">Conclusion</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li ><a href="http://nbviewer.ipython.org/github/jming/aural-pleasure/blob/master/static/resources/aural-pleasure.ipynb"><em>Process Book</em></a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" id="home">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="../static/resources/mumford.jpg" style="height:125%;">
          <div class="container">
            <div class="carousel-caption">
              <h1>How do I classify this Mumford and Sons song? </h1>
              <p>Are they no longer considered folk music now that they are too popular to be hipster?</p>
              <br><br><br><br><br>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../static/resources/genre.jpg" style="height:125%;">
          <div class="container">
            <div class="carousel-caption">
              <h1>Are genres a figment of our imagination, culture, or psychology?</h1>
              <p>Or can we analytically separate genres based on the inherent wave properties of sound <i>de novo</i>?</p>
              <br><br><br><br><br>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../static/resources/miley.jpg" style="height:125%;">
          <div class="container">
            <div class="carousel-caption">
              <h1>What makes Miley Cyrus more popular than someone who is actually talented?</h1>
              <p>How much of the popularity of music is determined by the press around the artist rather than from the inherent characteristics of the music?</p>
              <br><br><br>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->




    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <div class="container featurette row" id="about">
      <div class="col-md-12">
        <h2 class="featurette-heading"> A 3-pronged approach <span class="text-muted">to the analysis of music.</span></h2>
        <br><p> Music is a complex amalgamation of sounds that provides a platform on which we can exercise a variety of the data science techniques we have learned this semester. This analysis is convenient because of the availability of a rich dataset - with a vast number of songs and an overwhelming amount of data on both inherent and external characteristics for each song.</p><br>
      </div>
      
    </div>

      <!-- Three columns of text below the carousel -->
      <div class="row featurette"  style="margin-top:50px;">

        <div class="col-lg-4">
          <img src="../static/resources/fourrier.jpg" alt="Fourrier">
          <h2>Inherent Characteristics</h2>
          <p>We looked at the sound wave properties of songs. Do genres have a physical basis? Which genres sound most similar? Most distinct?</p>
          <p><a class="btn btn-default" href="#inherent" role="button">Learn more &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="../static/resources/artists.jpg" alt="Artists">
          <h2>Artist Interactions</h2>
          <p>We looked at how often artists perform together. Do popular artists cluster in the center of the collaboration network? How often do artists of the same genre collaborate?</p>
          <p><a class="btn btn-default" href="#artist" role="button">Learn more &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="../static/resources/user-pref.jpg" alt="User prefs">
          <h2>User Preferences</h2>
          <p>We looked at how users place songs in playlists. Can a network analysis identify popular songs? Do users put songs of the same genre into playlists? </p>
          <p><a class="btn btn-default" href="#user" role="button">Learn More &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider" id="inherent">

      <div class="row featurette">
        <!-- inherent characteristics description -->
        <div class="col-md-5">
          <h2 class="featurette-heading">Inherent characteristics <span class="text-muted">of a song as a complex sound wave.</span></h2>

          <!-- <p class="lead">443 songs from 35 genres displayed on a "similarity plane." The genres R&amp;B Soul and Alternative Indie are perhaps culturally constructed.</p><br/> -->
          <p class="lead">The sound waves from clips of 443 songs from 35 genres are processed with Principal Component Analysis (PCA) and displayed on a "similarity plane", where songs that have similar frequencies are closer together.</p><br />

          <button class='btn' href="#" role="button" onclick='ToggleExplain("#inherent-explain");'>Expand Details &raquo;</button><br><br>


        </div>
        <!-- inherent d3 graph -->
        <div class="col-md-7">
           <div id="test10" style="height: 500px;">
            <svg ></svg>
            <audio id="start-play" preload='auto'></audio>
          </div>
        </div>
      </div>

      <div class="row explain" id="inherent-explain">
        <div class="col-lg-4">
          <h2>What is this?</h2><div class='inside'>
          <p >The current graph shows a select 443 songs where the size of each dot is proportional to a popularity score based on the <a href='http://www.billboard.com/charts/year-end'>Billboard Year-End Hot 100 Charts</a>. MP3 preview files were taken from <a href='7digital.com'>7digital.com</a>. 
          <br/><br/>
          The sound waves which make up a specific song can be represented as a multi-dimensional vector through a fast fourier transform. We reduced the dimensionality of each vector with Principal Component Analysis (PCA). Each data point represents a song plotted against the first two principal components.</p>
          <button class='btn' role='button'><a href="http://nbviewer.ipython.org/github/jming/aural-pleasure/blob/master/static/resources/inherent-characteristics.ipynb">View inherent characteristics process book &raquo;</a></button><br><br></div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <h2>See for yourself</h2><div class='inside'>
          <p >Hover over each song to listen to a preview. But be patient - some preview clips may be softer and load more slowly. Listen to songs on the extremes of each axis and note any differences or similarities. Songs that are close together on the PCA plane should sound similar. 
          <br/><br/>
          Click the genre labels to toggle the display of songs categorized in each genre by 7digital. Double click on the genre label to show songs solely from that genre. Start with hiding all genres except "punk" and "folk". These are the genres that are most distinct! </p></div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <h2>What it means</h2><div class='inside'>
          <p >We noted that the first principal component (x-axis) represents a soft-to-rock variation. Songs at the left extreme of the axis sound more classical and soft, whereas those on the rightmost extreme sound more hard and rock. The second principal component (y-axis) seems to represent tempo variation. Songs at the bottom extreme of the axis sound slower, whereas those on the topmost extreme sound faster. 
          <br/><br/>
          Some sets of genres are more distinct than others. The most well-defined distinction was observed between songs classified as punk and those classifed as folk. These distinctions make intuitive sense from experience. Conversely, least well-defined distinction was observed between songs classified as R and B Soul and those classifed as Alternative Indie. These genres may very well be a product of culture - there is not an inherent basis for classifying a song as either R and B Soul or Alternative Indie. </p></div>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <hr class="featurette-divider" id="artist">

      <div class="row featurette">
        <!-- artist d3 graph -->
        <div class="col-md-7" id="artist-d3" >
        </div>
        <!-- artist description -->
        <div class="col-md-5">
          <h2 class="featurette-heading">Artist interactions<span class="text-muted"> from performing at the same event.</span></h2>
          <p class="lead">The collaboration network shows each of 201 artists connected by the number of times artists have performed at the same event.
            <!-- Each of the nodes represents 201 artists in a collaboration network. The genre-barrier poses few constraints for artist performance collaboration. --> </p>
            <button class='btn' href="#" role="button" id='start-artist-network' onclick='start_artists_network();'>&laquo; Start Network Viz</button>

          <button class='btn' href="#" role="button" onclick='ToggleExplain("#artist-explain");'>Expand Details &raquo;</button><br><br>


          <table class='table'>
            <tr>
              <td>
                <h3>Color by:</h3>
                <select class='form-control' id='artist-color'>
                  <option value='modularity'>Modularity</option>
                  <option value='genre'>Genre</option>
                  <option value='none'>None</option>
                </select>
              </td>
              <td>
                <h3>Size by:</h3>
                <select class='form-control' id='artist-size'>
                  <option value='pagerank'>Page Rank</option>
                  <option value='score'>Score</option>
                  <option value='none'>None</option>
                </select>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row explain" id="artist-explain">
        <div class="col-lg-4">
          <h2>What is this?</h2><div class='inside'>
          <p >Each node represents an artist. Nodes are linked if the artists have performed together at the same event. The weight of the edges indicates the number of times that connected artists have played at the same event as another artist based on the <a href="http://www.songkick.com/developer">Songkick Api</a>. The nodes are initially colored by modularity, which are mathematically calculated clusters and sized by PageRank, a measure of influence.</p>
          <button class='btn' ><a href="http://nbviewer.ipython.org/github/jming/aural-pleasure/blob/master/static/resources/artist-interactions.ipynb">View artist interactions process book &raquo;</a></button><br><br></div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <h2>See for yourself</h2><div class='inside'>
          <p >Hover over nodes to view the names of the artists in the network. Click and drag on one of the nodes to rearrange the network. Use the "Color by" and "Size by" options to change the display. You can color nodes based on mathematically calculated modularity (generated without a priori knowledge of artist characteristics). Or, you can color nodes by genre - the genre in which most songs by that artist are classified. You can size nodes based on PageRank or by popularity score, as determined by Billboard Year-End Hot 100. </p></div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <h2>What it means</h2><div class='inside'>
          <p >Artists in the same modularity (calculated with Gephi) perform together more often. However, it was surprising that the genre categorizations did not appear clustered in the same network. This may be because we have too many genre classifications - some genres could really be grouped into one. This may also point towards the fact that many artists choose to collaborate with others outside of their genre. 
            <br><br>
          There seems to be two classes of popular artists. Some, such as Survivor, prefer to perform alone - they appear on the sides of the collaboration network. Others, such as The Black Eyed Peas, have performed with many other artists. It is interesting to note how these two styles can both achieve popularity.  </p></div>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      <hr class="featurette-divider" id="user">

      <div class="row featurette">
        <!-- user preferences description -->
        <div class="col-md-5">
          <h2 class="featurette-heading">User preferences <span class="text-muted">for songs on the same playlists.</span></h2>
          <p class="lead">276 songs are linked together by how often they appear together on 806 playlists.
          </p>
          <button class='btn' href="#" role="button" id='start-user-network' onclick='start_user_preferences_network();'>Start Network Viz &raquo;</button>
          <button class='btn' href="#" role="button" onclick='ToggleExplain("#user-explain");'>Expand Details &raquo;</button><br><br>

          <table class='table'>
            <tr>
              <td>
                <h3>Color by:</h3>
                <select class='form-control' id='playlist-color'>
                  <option value='modularity'>Modularity</option>
                  <option value='year'>Year</option>
                  <option value='genre'>Genre</option>
                  <option value='none'>None</option>
                </select>
              </td>
              <td>
                <h3>Size by:</h3>
                <select class='form-control' id='playlist-size'>
                  <option value='occ'>Occurrence</option>
                  <option value='score'>Score</option>
                  <option value='cent'>Closeness centrality</option>
                  <option value='none'>None</option>
                </select>
              </td>
            </tr>
          </table>
        </div>
        <!-- user d3 graph -->
        <div class="col-md-7" id='playlist-d3'>
        </div>
      </div>

      <div class="row explain" id="user-explain">
        <div class="col-lg-4">
          <h2>What is this?</h2><div class='inside'>
          <p >Each node represents a song. Songs are linked if they appear together in at least one user playlist in the Spotify playlist sharing site <a href="http://playlists.net/">Share My Playlist</a>. The weight of the edges indicates the number of times that connected songs appear on the same playlist. The nodes are initially colored by modularity, which are mathematically calculated clusters.</p>
          <button class='btn'><a href="http://nbviewer.ipython.org/github/jming/aural-pleasure/blob/master/static/resources/user-preferences.ipynb">View user preferences process book &raquo;</a></button><br><br></div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <h2>See for yourself</h2><div class='inside'>
          <p >Hover over nodes to view the names of artists and songs. Click and drag to rearrange the network. Use the "Color by" and "Size by" options to change the display. Color nodes are by default based on mathematically calculated modularity (generated without a priori knowledge of song characteristics). Alternative, color nodes by genre or year (older songs are darker). Nodes are initially sized by occurrence, which is the total number of playlists on which the particular song appears. You can also size nodes based on popularity score or closeness centrality. </p></div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <h2>What it means</h2><div class='inside'>
            <p>There does not seem to be much correspondence between calculated clusters and the genres. One likely reason is that there are too many genre classifications - some could be grouped together for more informative analyses. But this observation may also point to the fact that playlists are not always meant to hold similar songs, rather users may seek to create a diverse collection of songs.</p>

            <p>On the other hand, it is interesting to visualize the network with nodes sized by centrality and colored by year. It seems that songs that are less recent tend to have a higher centrality value. Understandably, there are many more songs in the data set that are recent rather than old, therefore there is more opportunity for the recent songs to have a range of centralities. In addition, it is important to note that our data set has a size of 276, which is still relatively small and renders the p-value slightly less reliable.</p>

            <p>However, it is also reasonable to consider that older songs that are less appreciated will not persist in many playlists; only the timeless classics will remain and be highly represented in current-day playlists. On the other hand, newer songs have yet to be tried in various playlists and have not yet had the time to rise to prominence above their peers (i.e. be featured in more playlists than usual).</p>

            <p>We saw a similar phenomenon in HW3, where older movies tended to have higher ratings, whereas those for newer movies were across the board. This observation constitutes a form of selection bias, by which only old (i.e. released before the use of online movie databases) movies that were good are worth being memorialized in a movie database, whereas all new movies have the chance to be criticized/praised on the database. The platform of online playlists acts similarly, memorializing the songs that are deemed classics.</p>
            </div>

        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <hr class="featurette-divider" id="impact">

      <!-- /END THE FEATURETTES -->
      <div class="row featurette">
      <div class="col-md-7" style="margin-top: 60px;">
        <iframe width="640" height="360" src="//www.youtube.com/embed/lm2MiaSTqRc" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="container col-md-5" >
        <h2 class="featurette-heading">Conclusions</h2>
        <p>We can determine some genres using inherent characteristics of song sound waves. With this method, the difference between some genres are more distictive than others. Secondly, we have explored artist interactions, showing that artists do not necessary cluster by genre as expected, and that popular artists may either choose to collaborate or be lone wolves. Lastly, it is likely that users prefer many different genres in their playlists. It is also interesting that playlists can highlight the timeless classics, helping us identify songs that are popular beyond being part of a trend.</p> 
        <p>This project can have many benefits. It can help artists and producers in the music industry produce songs that are more likely to be in the top 40 category, thus increasing revenue. Furthermore, this project can enhance current methods of categorizing and classifying songs, thus making music management/organization software more effective. And finally, it can help individuals find songs that will appeal to their tastes or moods, enhancing their listening experience like never before - true pleasure indeed.</p>
      </div>

    </div>

      <hr class="featurette-divider">

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 RL JC JM</p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/holder.js"></script>

    <!-- code to display d3 graphs -->
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="../static/js/app.js"></script>
    
    <script src="../static/js/playlist.js"> </script>

    <script type='text/javascript' src='../static/js/jquery.tipsy.js'></script>

<!--RYAN-->
<script src="../static/novus/lib/d3.v3.js"></script>
<!--<script src="../static/novus/lib/fisheye.js"></script>-->
<script src="../static/novus/nv.d3.js"></script>
<script src="../static/novus/src/tooltip.js"></script>
<script src="../static/novus/src/utils.js"></script>
<script src="../static/novus/src/models/legend.js"></script>
<script src="../static/novus/src/models/scatterChart.js"></script>

<script src="../static/js/artist.js"></script>


<script type="text/javascript">

//Toggle explain text for each featurette
function ToggleExplain(selector) {
  $(selector).slideToggle( "fast", function(){
    if ($(selector).is(":visible")){
      $("body").animate({scrollTop:
      $(selector).offset().top+$(selector).height() - $(window).height()
      },500);
    }

    $('[data-spy="scroll"]').each(function () {
      var $spy = $(this).scrollspy('refresh')
    });
  });
}

</script>

<script>

//parse json file
$.getJSON("../static/js/pca.json", function(data) {
    console.log(data);
    defaultChartTest("test10", data);
});

//create global variable for id of current song
var current_playing = "start-play"

function defaultChartTest(container, data) {
  nv.addGraph(function() {

    var chart;

    chart = nv.models.scatterChart();
    chart.xAxis.tickFormat(d3.format('.02f'));
    chart.yAxis.tickFormat(d3.format('.02f'));

    chart.tooltipContent(function(key,x,y,mod) {

       //make id
       label = mod["point"]['artist-song']
       audid = label.replace(/\s/g, '').replace(/'/g, '');

       // play the preview clip
       audioplay(mod["point"]['preview_link'],audid);

       //display tooltip
       return "<h3>"+mod["point"]['artist-song']+ "</h3>";

    });

    d3.select('#' + container + ' svg').datum(data).transition().duration(50).call(chart);

    nv.utils.windowResize(chart.update);

    return chart;
  });
}

function audioplay(src,audid){

    //add an audio element if it does not exist already
    if (!$("#"+audid).length) {
      $("#test10").append( "<audio id="+audid+" src=http://www.7digital.com/"+src+" preload='auto'></audio>" );
    }
    
    //play the preview clip
    $("#"+audid)[0].play();

    //set global variable for song pausing
    current_playing = audid;
}

</script>

  </body>
</html>
