
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Aural Pleasure (CS109 Final Project)</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="../static/css/carousel.css" rel="stylesheet">

    <!---for novus-->
    <link href="../static/novus/src/nv.d3.css" rel="stylesheet" type="text/css">


    <style>

      * {
        font-family: 'Helvetica Neue';
        font-weight: 200;
      }
      .node circle {
        stroke: #fff;
        stroke-width:1.5px;
      }
      .link {
        stroke: #999;
        stroke-opacity: .6;
      }
      text {
        pointer-events: none;
        font: 10px sans-serif;
/*        z-index:10000000000;
        position:absolute;*/
      }

      .featurette-heading{
        margin-top: 50px;
      }

      div.explain{
        background-color: rgb(66,66,66);
        display: none;
        color: white;
      }
      .navbar-wrapper .navbar {
          border-radius: 0px;
        }
      .carousel{
        margin-bottom: 0px;
      }
      div#about{
        padding-top: 60px;
      }


    </style>
  </head>
<!-- NAVBAR
================================================== -->
  <body data-spy="scroll" data-target=".navbar-collapse">

    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">The Truth Behind Aural Pleasure</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#about">About</a></li>
                <li><a href="#inherent">Inherent</a></li>
                <li><a href="#artist">Artist</a></li>
                <li><a href="#user">User</a></li>
                <li><a href="#impact">Conclusion</a></li>
                <li><a href="http://nbviewer.ipython.org/github/jming/aural-pleasure/blob/master/static/resources/aural-pleasure.ipynb"><em>Notebook</em></a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" id="home">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="../static/resources/miley.jpg" style="height:125%;">
          <div class="container">
            <div class="carousel-caption">
              <h1>What makes Miley Cyrus more popular than someone who is actually talented?</h1>
              <p>How much of the popularity of music is determined by the press around the artist and from the inherent characteristics of the music?</p>
              <br><br><br>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../static/resources/mumford.jpg" style="height:125%;">
          <div class="container">
            <div class="carousel-caption">
              <h1>How do I classify this Mumford and Sons song? </h1>
              <p>Are they no longer considered folk music now that they are too popular to be hipster?</p>
              <br><br><br><br><br>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../static/resources/genre.jpg" style="height:125%;">
          <div class="container">
            <div class="carousel-caption">
              <h1>Are genres a figment of our imagination, culture, or psychology?</h1>
              <p>Or can we analytically separate genres based on the inherent wave properties of sound <i>de novo</i>?</p>
              <br><br><br><br><br>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->


    <div class="container" id="about">
      <h3> As both creators and listeners of music, we are intrigued by the factors that contribute to the appeal of music. </h3>
      <p> This complex amalgamation of sounds provides a platform on which we can exercise a variety of the data science techniques we have learned this past semester. Music analysis is convenient because of the availability of a rich dataset, in two respects: the overwhelming amount of data that is available for each song (in terms of inherent and external characteristics, described in more detail later) and the existence of a vast number of songs. </p>
      <h2>Our project proposes to study this mass corpus of aural pleasure--to find truth within this universal language of Music.</h2>
    </div>

    <hr class="featurette-divider">


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Inherent Characteristics</h2>
          <p>Since music is blah we decided that we wanted to investigate blahblah</p>
          <p><a class="btn btn-default" href="#inherent" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Artist Interactions</h2>
          <p>Since music is blah we decided that we wanted to investigate blahblah</p>
          <p><a class="btn btn-default" href="#artist" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>User Preferences</h2>
          <p>Since music is blah we decided that we wanted to investigate blahblah</p>
          <p><a class="btn btn-default" href="#user" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider" id="inherent">

      <div class="row featurette">
        <!-- inherent characteristics description -->
        <div class="col-md-5">
          <h2 class="featurette-heading">Inherent characteristics <span class="text-muted">of a song as a complex sound wave.</span></h2>

          <p class="lead">443 songs from 35 genres displayed on a "similarity plane." R&amp;B Soul and Alternative Indie are inherenlty the same genre.</p><br/>

          <button class='btn' href="#" role="button" onclick='ToggleExplain("#inherent-explain");'>Expand Details &raquo;</button><br><br>


        </div>
        <!-- inherent d3 graph -->
        <div class="col-md-7">
           <div id="test10" style="height: 500px;">
            <svg></svg>
            <audio id="start-play" preload='auto'></audio>
          </div>
        </div>
      </div>

      <div class="row explain" id="inherent-explain">
        <div class="col-lg-4">
          <h2>What is this?</h2>
          <p >The current graph shows 443 songs from the intersection of the 7digital data and the playlist data (see below). The size of each dot is proportional to a popularity score (see below). MP3 preview files were taken from 7digital.com. 
          <br/><br/>
          The sound waves which make up a specific song can be represented as a multi-dimensional vector. To better visualize these data, we reduced the dimensionality with Principal Component Analysis (PCA). Each data point represents a song plotted on the first two principal components.</p>
          <button class='btn' href="http://nbviewer.ipython.org/github/jming/aural-pleasure/blob/master/static/resources/inherent-characteristics.ipynb" role="button">View inherent characteristics notebook &raquo;</button><br><br>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <h2>See for yourself</h2>
          <p >Hover over each song to listen to a preview. (Some preview clips may be softer and load more slowly.) Songs that are close together on the PCA plane should sound similar. Listen to songs on the extremes of each axis and note any differences or similarities. 
          <br/><br/>
          Click the genre labels to toggle the display of songs categorized in each genre by 7digital. Double click on the genre label to show songs solely from that genre. Start with hiding all genres except "punk" and "folk". These are the genres that are most distinct. </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <h2>What it means</h2>
          <p >We noted that the first principal component (x-axis) represents a soft-to-rock variation. Songs at the left extreme of the axis sound more classical and soft, whereas those on the rightmost extreme sound more hard and rock. The second principal component (y-axis) seems to represent tempo variation. Songs at the bottom extreme of the axis sound slower, whereas those on the topmost extreme sound faster. 
          <br/><br/>
          Some sets of genres are more distinct than others. The most well-defined distinction was observed between songs classified as pop and those classifed as folk. These distinctions make intuitive sense from experience. Conversely, least well-defined distinction was observed between songs classified as R and B Soul and those classifed as Alternative Indie.  </p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <hr class="featurette-divider" id="artist">

      <div class="row featurette">
        <!-- artist d3 graph -->
        <div class="col-md-7" id="artist-d3" >
        </div>
        <!-- artist description -->
        <div class="col-md-5">
          <h2 class="featurette-heading">Artist interactions<span class="text-muted"> performing at the same event.</span></h2>
          <p class="lead">Each of the nodes represents an artist. Each of the edges represents the number of times that artist has played at the same event as another artist based on the SongKick Api.</p>

          <button class='btn' href="#" role="button" onclick='ToggleExplain("#artist-explain");'>Expand Details &raquo;</button><br><br>


          <table class='table'>
            <tr>
              <td>
                <h3>Color by:</h3>
                <select class='form-control' id='artist-color'>
                  <option value='modularity'>Modularity</option>
                  <option value='genre'>Genre</option>
                </select>
              </td>
              <td>
                <h3>Size by:</h3>
                <select class='form-control' id='artist-size'>
                  <option value='pagerank'>Page Rank</option>
                  <option value='score'>Score</option>
                </select>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row explain" id="artist-explain">
        <div class="col-lg-4">
          <h2>What is this?</h2>
          <p >............................................................................................................................................................................................................................................................................................................................................................................</p>
          <button class='btn' href="http://nbviewer.ipython.org/github/jming/aural-pleasure/blob/master/static/resources/inherent-characteristics.ipynb" role="button">View inherent characteristics notebook &raquo;</button><br><br>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <h2>See for yourself</h2>
          <p >............................................................................................................................................................................................................................................................................................................................................................................</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <h2>What it means</h2>
          <p >............................................................................................................................................................................................................................................................................................................................................................................ </p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      <hr class="featurette-divider" id="user">

      <div class="row featurette">
        <!-- user preferences description -->
        <div class="col-md-5">
          <h2 class="featurette-heading">User preferences <span class="text-muted">for songs on the same playlists.</span></h2>
          <p class="lead">Each of the nodes is a song. Each of the edges is the number of times a song appears on the same playlist as another song determined by the Share My Playlist API.
          </p>

          <button class='btn' href="#" role="button" onclick='ToggleExplain("#user-explain");'>Expand Details &raquo;</button><br><br>

          <table class='table'>
            <tr>
              <td>
                <h3>Color by:</h3>
                <select class='form-control' id='playlist-color'>
                  <option value='modularity'>Modularity</option>
                  <option value='genre'>Genre</option>
                </select>
              </td>
              <td>
                <h3>Size by:</h3>
                <select class='form-control' id='playlist-size'>
                  <option value='none'>None</option>
                  <option value='score'>Score</option>
                </select>
              </td>
            </tr>
          </table>
        </div>
        <!-- user d3 graph -->
        <div class="col-md-7" id='playlist-d3'>
        </div>
      </div>

      <div class="row explain" id="user-explain">
        <div class="col-lg-4">
          <h2>What is this?</h2>
          <p >.................................................
            ....................................................
            .......................................................
            .........................................................
            .............................................................
            ..........................................................................................</p>
          <button class='btn' href="http://nbviewer.ipython.org/github/jming/aural-pleasure/blob/master/static/resources/inherent-characteristics.ipynb" role="button">View inherent characteristics notebook &raquo;</button><br><br>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <h2>See for yourself</h2>
          <p >............................................................................................................................................................................................................................................................................................................................................................................</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <h2>What it means</h2>
          <p >............................................................................................................................................................................................................................................................................................................................................................................</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

      <div class="container" id="impact">
        <h1>Conclusions</h1>
        <p>This project can have many benefits. It can help artists and producers in the music industry produce songs that are more likely to be in the top 40 category, thus increasing revenue. This project can enhance current methods of categorizing and classifying songs, thus making music management/organization software more effective. And finally, it can help individuals find songs that will appeal to their tastes or moods, enhancing their listening experience like never before.</p>
      </div>

      <hr class="featurette-divider">

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 RL JC JM</p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/holder.js"></script>

    <!-- code to display d3 graphs -->
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="../static/js/app.js"></script>
    <script src="../static/js/artist.js"></script>
    <script src="../static/js/playlist.js"> </script>

<!--RYAN-->
<script src="../static/novus/lib/d3.v3.js"></script>
<!--<script src="../static/novus/lib/fisheye.js"></script>-->
<script src="../static/novus/nv.d3.js"></script>
<script src="../static/novus/src/tooltip.js"></script>
<script src="../static/novus/src/utils.js"></script>
<script src="../static/novus/src/models/legend.js"></script>
<script src="../static/novus/src/models/scatterChart.js"></script>

<script type="text/javascript">

//Toggle explain text for each featurette
function ToggleExplain(selector) {
  $(selector).slideToggle( "fast", function(){
    if ($(selector).is(":visible")){
      $("body").animate({scrollTop:
      $(selector).offset().top+$(selector).height() - $(window).height()
      },500);
    }
  });
}

</script>

<script>

//parse json file
$.getJSON("../static/js/pca.json", function(data) {
    console.log(data);
    defaultChartTest("test10", data);
});

//create global variable for id of current song
var current_playing = "start-play"

function defaultChartTest(container, data) {
  nv.addGraph(function() {

    var chart;

    chart = nv.models.scatterChart();
    chart.xAxis.tickFormat(d3.format('.02f'));
    chart.yAxis.tickFormat(d3.format('.02f'));

    chart.tooltipContent(function(key,x,y,mod) {

       //make id
       label = mod["point"]['artist-song']
       audid = label.replace(/\s/g, '');

       // play the preview clip
       audioplay(mod["point"]['preview_link'],audid);

       //display tooltip
       return "<h3>"+mod["point"]['artist-song']+ "</h3>";

    });

    d3.select('#' + container + ' svg').datum(data).transition().duration(50).call(chart);

    nv.utils.windowResize(chart.update);

    return chart;
  });
}

function audioplay(src,audid){

    //add an audio element if it does not exist already
    if (!$("#"+audid).length) {
      $("#test10").append( "<audio id="+audid+" src=http://www.7digital.com/"+src+" preload='auto'></audio>" );
    }
    
    //play the preview clip
    $("#"+audid)[0].play();

    //set global variable for song pausing
    current_playing = audid;
}



</script>

  </body>
</html>
